<div class="banner">
    <nav>
        <ul><a href="#">Home</a><a href="#">Dashboard</a><a href="/login">Login</a></ul>
    
    </nav>
    
    <h1>The Tech Blog</h1>
</div>

    <div class="container"></div>