<style>
    .login {
        margin: 20px auto;
        width: 200px;
        border: 2px solid black;
        border-radius: 12px;
        padding: 20px;
        background-color: lightgray;
    }

    .login h2 {
        margin-top: 0;
    }

    .login h4 {
        margin-bottom: 0;
    }

    .signUpOrLogin {
        display: flex;
        justify-content: space-around;
    }
    button {
        margin-top: 20px;
        background-color: green;
        border-radius: 12px;
        box-shadow: 2px 2px 4px black;
        color: white;
        padding: 5px;
    }
</style>

form class="login-form">
  <div>
    <label for="email-login">Email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">Login</button>
  </div>
  <div class ="sign-up">
      Not a member? <a href="/signup">Sign Up now!</a>
  </div>

  <script src="/javascript/login.js"></script>