<style>
    .login {
        margin: 20px auto;
        width: 200px;
        border: 2px solid black;
        border-radius: 12px;
        padding: 20px;
        background-color: lightgray;
    }

    .login h2 {
        margin-top: 0;
    }

    .login h4 {
        margin-bottom: 0;
    }

    .signUpOrLogin {
        display: flex;
        justify-content: space-around;
    }
    button {
        margin-top: 20px;
        background-color: green;
        border-radius: 12px;
        box-shadow: 2px 2px 4px black;
        color: white;
        padding: 5px;
    }
</style>

<div class="signUpOrLogin">

    <div class="login">
        <h2>Login</h2>
        <div id="login">
            <h4>Email:</h4>
            <input type="text" id="email-login">
            <h4>Password:</h4>
            <input type="password" id="password">
        </div>
        <button id="submitLogin">Submit</button>
    </div>
<script src="assets/javascripts/login.js"></script>