<div class="login">
        <h2>Sign up</h2>
        <div id="login">
            <h4>Username:</h4>
            <input type="text" id="username">
            <h4>email:</h4>
            <input type="text" id="email">
            <h4>Password:</h4>
            <input type="password" id="password">
            <h4>Confirm:</h4>
            <input type="password" id="confirm">
        </div>
        <button id="submitSignup">Submit</button>
    </div>
</div>
<script src="javascripts/signup.js"></script>